.idea/*
**/.idea/*
.vscode/*
*.sln?*
**/.DS_Store
build/*
test/**/Output/*
/package-lock.json
/node_modules
**/Folder.DotSettings.user

# VS Code local history
/.history

# Duvet output
specification_compliance_report.html
/compliance
/.smithy.lsp.log

# logs 
*.log

# Performance testing artifacts
*.png
*.dot
*.prof