[submodule "submodules/MaterialProviders"]
	path = submodules/MaterialProviders
	url = https://github.com/aws/aws-cryptographic-material-providers-library-dafny.git
[submodule "submodules/smithy-dafny"]
	path = submodules/smithy-dafny
	url = git@github.com:awslabs/smithy-dafny.git
