[submodule "submodules/MaterialProviders"]
	path = submodules/MaterialProviders
	url = https://github.com/awslabs/aws-database-encryption-sdk-dynamodb-java.git
[submodule "submodules/smithy-dafny"]
	path = submodules/smithy-dafny
	url = git@github.com:awslabs/smithy-dafny.git
