# This workflow regenerates code using smithy-dafny and checks that the output matches what's checked in.
name: Library Code Generation
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  code-generation:
    strategy:
      fail-fast: false
      matrix:
        library:
          [
            DynamoDbEncryption,
          ]
        # Note dotnet is only used for formatting generated code
        # in this workflow
        dotnet-version: ["6.0.x"]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
      DOTNET_NOLOGO: 1
    steps:
      - name: Support longpaths
        run: |
          git config --global core.longpaths true

      - uses: actions/checkout@v3
        with:
          submodules: recursive

      # Only used to format generated code
      # and to translate version strings such as "nightly-latest"
      # to an actual DAFNY_VERSION.
      - name: Setup Dafny
        uses: dafny-lang/setup-dafny-action@v1.7.0
        with:
          dafny-version: 4.2.0

      - name: Setup .NET Core SDK ${{ matrix.dotnet-version }}
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{ matrix.dotnet-version }}

      - uses: ./.github/actions/polymorph_codegen
        with:
          dafny: ${{ env.DAFNY_VERSION }}
          library: ${{ matrix.library }}
          diff-generated-code: true
