# This workflow regenerates code using smithy-dafny and checks that the output matches what's checked in.
name: Library Code Generation
on:
  workflow_call:
    inputs:
      dafny:
        description: "The dafny version to run"
        required: true
        type: string

jobs:
  code-generation:
    strategy:
      fail-fast: false
      matrix:
        library: [DynamoDbEncryption, TestVectors]
        # Note dotnet is only used for formatting generated code
        # in this workflow
        dotnet-version: ["6.0.x"]
        os: [ubuntu-22.04]
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
      DOTNET_NOLOGO: 1
    steps:
      - name: Support longpaths
        run: |
          git config --global core.longpaths true

      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - run: git submodule update --init --recursive submodules/smithy-dafny

      # Only used to format generated code
      # and to translate version strings such as "nightly-latest"
      # to an actual DAFNY_VERSION.
      - name: Setup Dafny
        uses: ./submodules/MaterialProviders/.github/actions/setup_dafny/
        with:
          dafny-version: ${{ inputs.dafny }}

      - name: Setup .NET Core SDK ${{ matrix.dotnet-version }}
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ matrix.dotnet-version }}

      - name: Create temporary global.json
        run: echo '{"sdk":{"rollForward":"latestFeature","version":"6.0.0"}}' > ./global.json

      - name: Setup Java 17 for codegen
        uses: actions/setup-java@v4
        with:
          distribution: "corretto"
          java-version: "17"

      - name: Install Smithy-Dafny codegen dependencies
        uses: ./.github/actions/install_smithy_dafny_codegen_dependencies

      - name: Install Smithy-Dafny codegen dependencies
        uses: ./.github/actions/install_smithy_dafny_codegen_dependencies

      - uses: ./.github/actions/polymorph_codegen
        with:
          dafny: ${{ inputs.dafny }}
          library: ${{ matrix.library }}
          diff-generated-code: true
