# This workflow verifies
# that the source is annotated
# with respect to the specification
name: Duvet report

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  duvet:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6

      - name: Install duvet
        shell: bash
        run: |
          cargo +stable install duvet
      - name: Run the duvet report
        shell: bash
        run: |
          make duvet
      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: specification_compliance_report
          path: specification_compliance_report.html
