# This workflow performs test vectors in DotNet.
name: Library DotNet Test Vectors

on:
  workflow_call:
    inputs:
      dafny:
        description: "The Dafny version to run"
        required: true
        type: string
      regenerate-code:
        description: "Regenerate code using smithy-dafny"
        required: false
        default: false
        type: boolean
      mpl-head:
        description: "Running on MPL HEAD"
        required: false
        default: false
        type: boolean

jobs:
  testDotNet:
    strategy:
      matrix:
        library: [TestVectors]
        dotnet-version: ["8.0.x"]
        os: [
            # Run on ubuntu image that comes pre-configured with docker
            ubuntu-22.04,
            macos-15-intel,
          ]
    runs-on: ${{ matrix.os }}
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-region: us-west-2
          role-to-assume: arn:aws:iam::370957321024:role/GitHub-CI-DDBEC-Dafny-Role-us-west-2
          role-session-name: DDBEC-Dafny-DotNet-Tests

      - name: Setup Docker
        if: matrix.os == 'macos-15-intel' && matrix.library == 'TestVectors'
        uses: douglascamata/setup-docker-macos-action@v1.0.2

      - name: Setup DynamoDB Local
        if: matrix.library == 'TestVectors'
        uses: rrainn/dynamodb-action@v4.0.0
        with:
          port: 8000
          cors: "*"

      - uses: actions/checkout@v5
        with:
          submodules: recursive

      - name: Setup Dafny
        uses: ./submodules/MaterialProviders/.github/actions/setup_dafny/
        with:
          dafny-version: ${{ inputs.dafny }}

      - name: Update MPL submodule if using MPL HEAD
        if: ${{ inputs.mpl-head == true }}
        working-directory: submodules/MaterialProviders
        run: |
          git checkout main
          git pull
          git submodule update --init --recursive
          git rev-parse HEAD

      - name: Install Smithy-Dafny codegen dependencies
        uses: ./.github/actions/install_smithy_dafny_codegen_dependencies

      - name: Regenerate code using smithy-dafny if necessary
        if: ${{ inputs.regenerate-code }}
        uses: ./.github/actions/polymorph_codegen
        with:
          dafny: ${{ env.DAFNY_VERSION }}
          library: ${{ matrix.library }}
          diff-generated-code: false
          update-and-regenerate-mpl: true

      - name: Setup .NET Core SDK ${{ matrix.dotnet-version }}
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: ${{ matrix.dotnet-version }}

      - name: Setup .NET OpenSSL on Mac
        if: matrix.os == 'macos-15-intel'
        run: |
          brew install openssl@3
          echo "DYLD_LIBRARY_PATH=$(brew --prefix openssl@3)/lib" >> $GITHUB_ENV
          echo "DOTNET_CRYPTO_ENGINE_ADAPTER=System.Security.Cryptography.Algorithms.Managed" >> $GITHUB_ENV

      - name: Build TestVectors implementation
        shell: bash
        working-directory: ${{matrix.library}}
        run: |
          # This works because `node` is installed by default on GHA runners
          make transpile_net

      - name: Test TestVectors on .NET 8.0
        working-directory: ./${{matrix.library}}/runtimes/net
        run: |
          cp ../java/*.json .
          dotnet run
          dotnet run --framework net8.0
