# This workflow performs static analysis checks.
name: Library format check

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  format_projects:
    # Don't run the nightly build on forks
    if: github.event_name != 'schedule' || github.repository_owner == 'aws'
    strategy:
      matrix:
        os: [macos-12]
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
      DOTNET_NOLOGO: 1
    steps:
      - name: Support longpaths
        run: |
          git config --global core.longpaths true

      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup Dafny
        uses: dafny-lang/setup-dafny-action@v1.7.0
        with:
          dafny-version: ${{ '4.2.0' }}

      - name: Check format of Java code et al
        run: |
          make setup_prettier
          make format_java_misc-check

      - name: Check format of Dafny code
        run: |
          make format_dafny-check

      - name: Check format of Dotnet code
        run: |
          make format_net-check
