# This workflow reads the project.properties in the MPL submodule
# into the environment variables
# and then creates an output variable for `mplVersion`
name: MPL HEAD Version

on:
  workflow_call:
    inputs:
      mpl-head:
        description: "Using MPL HEAD?"
        required: true
        default: main
        type: string
    outputs:
      version:
        description: "The MPL version"
        value: ${{ jobs.getMplHeadVersion.outputs.version }}

jobs:
  getMplHeadVersion:
    runs-on: ubuntu-22.04
    outputs:
      version: ${{ steps.read_property.outputs.mplVersion }}
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
          fetch-depth: 0
      - name: Update MPL submodule locally if requested
        working-directory: submodules/MaterialProviders
        shell: bash
        run: |
          git checkout ${{inputs.mpl-head}}
          git submodule update --init --recursive
          git rev-parse HEAD

      - name: Get the MPL version from the MPL submodule
        id: read_property
        uses: christian-draeger/read-properties@1.1.1
        with:
          path: "submodules/MaterialProviders/project.properties"
          properties: "mplVersion"
