# This workflow reads the project.properties
# into the environment variables
# and then creates an output variable for `mplDependencyJavaVersion`
name: MPL Dependency Java Version

on:
  workflow_call:
    outputs:
      version:
        description: "The MPL Dependency Java version from project.properties"
        value: ${{ jobs.getMplDependencyJavaVersion.outputs.version }}

jobs:
  getMplDependencyJavaVersion:
    runs-on: ubuntu-22.04
    outputs:
      version: ${{ steps.read_property.outputs.mplDependencyJavaVersion }}
    steps:
      - uses: actions/checkout@v6
      - name: Read version from Properties-file
        id: read_property
        uses: christian-draeger/read-properties@1.1.1
        with:
          path: "./project.properties"
          properties: "mplDependencyJavaVersion"
