# This workflow runs every day 16:00 UTC (8PM PST)
name: Performance Benchmarks

permissions:
  id-token: write
  contents: read

on:
  pull_request:
    paths:
      - ".github/workflows/performance-benchmarks.yml"
  schedule:
    - cron: "00 16 * * *"

jobs:
  getVersion:
    if: github.event_name != 'schedule' || github.repository_owner == 'aws'
    uses: ./.github/workflows/dafny_version.yml
  performance-benchmarks-go:
    needs: getVersion
    uses: ./.github/workflows/performance-benchmarks-go.yml
    with:
      dafny: ${{needs.getVersion.outputs.version}}
  performance-benchmarks-rust:
    needs: getVersion
    uses: ./.github/workflows/performance-benchmarks-rust.yml
    with:
      dafny: ${{needs.getVersion.outputs.version}}
  notify:
    needs: [getVersion, performance-benchmarks-go, performance-benchmarks-rust]
    if: ${{ failure() }}
    uses: aws/aws-cryptographic-material-providers-library/.github/workflows/slack-notification.yml@main
    with:
      message: "Performance Benchmarks failed on `${{ github.repository }}`. View run: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
    secrets:
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL_CI }}
